<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>myproject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 注册servlet -->
<servlet>
<description>my first servlet</description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>loginservlet.login_servlet</servlet-class>
    <load-on-startup>1</load-on-startup>
</servlet>
 <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login_servlet</url-pattern>
  </servlet-mapping>
 
<servlet>
<servlet-name>zhuce</servlet-name>
<servlet-class>loginservlet.zhuce_servlet</servlet-class>
<load-on-startup>2</load-on-startup>
</servlet>
<servlet-mapping>
<servlet-name>zhuce</servlet-name>

<!-- 对外访问路径 -->
<url-pattern>/zhuce_servlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>post</servlet-name>
<servlet-class>posteditservlet.post_servlet</servlet-class>
<load-on-startup>3</load-on-startup>
</servlet>
<servlet-mapping>
<servlet-name>post</servlet-name>
<url-pattern>/post_servlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>read_post</servlet-name>
<servlet-class>posteditservlet.readPost_servlet</servlet-class>
<load-on-startup>4</load-on-startup>
</servlet>
<servlet-mapping>
<servlet-name>read_post</servlet-name>
<url-pattern>/readpost_servlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>private</servlet-name>
<servlet-class>posteditservlet.private_servlet</servlet-class>
<load-on-startup>5</load-on-startup>
</servlet>
<servlet-mapping>
<servlet-name>private</servlet-name>
<url-pattern>/private_servlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>show_private</servlet-name>
<servlet-class>posteditservlet.show_servlet</servlet-class>
<load-on-startup>6</load-on-startup>
</servlet>
<servlet-mapping>
<servlet-name>show_private</servlet-name>
<url-pattern>/show_servlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>search_servlet</servlet-name>
<servlet-class>loginservlet.search_servlet</servlet-class>
<load-on-startup>7</load-on-startup>
</servlet>
<servlet-mapping>
<servlet-name>search_servlet</servlet-name>
<url-pattern>/search_servlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>delete_servlet</servlet-name>
<servlet-class>posteditservlet.delete_servlet</servlet-class>
<load-on-startup>8</load-on-startup>
</servlet>
<servlet-mapping>
<servlet-name>delete_servlet</servlet-name>
<url-pattern>/delete_servlet</url-pattern>
</servlet-mapping>
</web-app>